body {
    font-family: 'Open sans', sans-serif;
    margin: auto 30pxpx;
    color: #555
}

ul{
    margin: 0;
}

li{
    padding: 5px;
}

#todo-list-container{
    margin-top: 28px;

}

#completed-list{
    list-style-type: none;
}

#completed-list li{
    text-decoration: line-through;
}